Slack+Reddit/Slack+Reddit.json
{
  "name": "Slack+Reddit",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c45d0ce3-0290-42fa-a427-cde7c50ae6c9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "Slack",
        "keyword": "Why I stopped using",
        "limit": 10,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "a431ad1d-8585-471b-aba5-f9013147b1ff",
      "name": "Search for a post",
      "credentials": {
        "redditOAuth2Api": {
          "id": "IP7BJUTkuHxRzHb3",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9560722-3cfa-4217-a9bc-06843de30f72",
              "leftValue": "={{ $json.ups }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "ba3a44e7-68a4-4181-a912-bba9ddcaa013",
              "leftValue": "={{ $json.selftext }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "3febaf2a-3387-4741-9802-8331d3d5a925",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b274387a-d696-46c6-8d87-010993676d97",
              "name": "title",
              "value": "={{ $('Search for a post').item.json.title }}",
              "type": "string"
            },
            {
              "id": "152878a4-67ae-405e-b42c-b850d6e247f0",
              "name": "selftext",
              "value": "={{ $('Search for a post').item.json.selftext }}",
              "type": "string"
            },
            {
              "id": "25431694-0827-4751-9d8c-e7f1529a68fc",
              "name": "ups",
              "value": "={{ $('Search for a post').item.json.ups }}",
              "type": "string"
            },
            {
              "id": "28d7d67b-e52d-45b4-88b4-4da8cd770395",
              "name": "created",
              "value": "={{ $('Search for a post').item.json.created }}",
              "type": "string"
            },
            {
              "id": "475ef0f3-7726-4dbe-820d-f7ae49b5d083",
              "name": "url",
              "value": "={{ $('Search for a post').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -16
      ],
      "id": "1104c7bd-c11f-4a86-9dd3-b5917b7a4d58",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Define whether the reddit post is talking about the problems faced by the users of slack or do they need any solution on how they want new features in slack. The post should mention specific problem faced by the user.\n\nExplain the problem as well",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        -176
      ],
      "id": "770901d7-1b3b-4e44-9054-73fe777ae272",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-01-21",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        -320
      ],
      "id": "c6034145-0bb9-40b4-aa32-44797b954454",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TbaWQWKz9fY1uX0F",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1184,
        -32
      ],
      "id": "f56fe1d4-8d89-4c3e-8961-8862cce8cf54",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10af417d-9a27-4b08-9074-e714542a13ea",
              "leftValue": "={{ $json.output }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        -32
      ],
      "id": "d42cd52b-9484-4551-982a-369c1f3314e6",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Based on the reddit post suggest a plan or solution on how i can fix the issues the users are facing with slack.\n\nProvide a concise solution on how we can fix the problem in Slack based on the reddit post\n\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1600,
        -176
      ],
      "id": "351dbc60-2ce8-44ea-bd65-b1cbfd75297f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        -304
      ],
      "id": "83310eaa-cfeb-49e8-b440-4790d4cf83e9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "TbaWQWKz9fY1uX0F",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1920,
        -32
      ],
      "id": "20a26e31-a7bb-4a69-b9bc-e5b627b4de0a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13606RN35HnRP2A7OlgnCwsxb0-knO_lHPsJ324USB3E",
          "mode": "list",
          "cachedResultName": "Problems in slack",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13606RN35HnRP2A7OlgnCwsxb0-knO_lHPsJ324USB3E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13606RN35HnRP2A7OlgnCwsxb0-knO_lHPsJ324USB3E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('If1').item.json.title }}",
            "Problem": "={{ $('Search for a post').item.json.selftext }}",
            "Created Date": "={{ $('Search for a post').item.json.created }}",
            "url": "={{ $('Search for a post').item.json.url }}",
            "Upvotes": "={{ $('Merge').item.json.ups }}",
            "Solution": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Problem",
              "displayName": "Problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upvotes",
              "displayName": "Upvotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2128,
        -32
      ],
      "id": "707a52a3-6380-4d6e-95a1-330cb6a7217f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wjaCZqMScKGRu5Fg",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search for a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for a post": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9e47652e-a408-4fde-8957-bc2665aa61e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a964876b18cefe452b9a8bb394ffeede86516ed83911c96d30a5ea4f060c7c91"
  },
  "id": "Cc7x82iOxASisWLr",
  "tags": []
}